body {
}

/* Positional Alignments */
.center {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.float-left{
	float:left;
}
.float-right {
	float:right;
}

header {
	border: 2px solid black;
	height: 231px;
}

ul {
	list-style: none;
}