@{
    ViewBag.Title = "Customer Dashboard";
}

<div>
    <!-- Tabs -->
    <span>Orders</span>
    <span>Cancelled</span>

    <!-- Data -->
    <div>
        <div>
            <span>Pending</span>
            <div id="pending-orders">
                <!-- orders -->
                <div id="oid1" class="order pending">
                    <span>Status</span>
                    <span>Order Identification</span>
                    <span>edit | submit</span>
                </div>
            </div>
        </div>
        <div>
            <span>Submitted</span>
            <div id="submitted-orders">
                <!-- orders -->
                <div id="oid2" class="order pending">
                    <span>Status</span>
                    <span>Order Identification</span>
                    <span>edit | submit</span>
                </div>
                <div id="oid3" class="order pending">
                    <span>Status</span>
                    <span>Order Identification</span>
                    <span>edit | submit</span>
                </div>
            </div>
        </div>
    </div>
</div>