@{
    ViewBag.Title = "Customer / Employee Dashboard";
}

<h1>List of Jobs for &lt;Company&gt;</h1>

<nav id="sub-menu">
	<a>Submitted</a>
	<a>Cancelled</a>
</nav>

<div id="job-container">
    <div class="job">
        <a class="status waiting">Status Icon</a>
        <span>Job Id</span>
        <div class="actions">
			<ul>
				<li><a>Review</a></li>
				<li><a>Edit</a></li>
				<li><a>Cancel</a></li>
			</ul>
        </div>
    </div>

	<div class="job">
		<span class="status done">Status Icon</span>
		<span>Job Id</span>
		<div class="actions">
			<ul>
				<li><a>Review</a></li>
				<li><a>Edit</a></li>
				<li><a>Cancel</a></li>
			</ul>
		</div>
	</div>

	<div class="job">
		<span class="status processing">Status Icon</span>
		<span>Job Id</span>
		<div class="actions">
			<ul>
				<li><a>Review</a></li>
				<li><a>Edit</a></li>
				<li><a>Cancel</a></li>
			</ul>
		</div>
	</div>
</div>